.c-filter-list {

	width: 100%;
	margin: 30px 0;

	&__options {

		display: block;

		li {
			
			display: inline;
			margin-right: 4px;
			background: $white;

			a {
				padding: 4px 10px;
				color: $black;
				display: inline-block;
			}

			&:hover{
				background: #ccc;
			}

		}

	}

	&__active {
		background: $yellow !important;
	}


	&__items {

		.block{
			display: none;
		}

		.active {
			display: block;
		}

	}

}
